#form-login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  width: 300px;
  height: 300px;
}

#form-login-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

#form-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-login-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 85px;
}
